<div class="container">
    <ul>
        <% @lists.each do |list| %>
            <div class="card-list">
                <li>
                    <%= link_to list.name, list_path(list.id) %>
                </li>
            </div>
        <% end %>
        <%= link_to "Create a new list !", new_list_path %>
    </ul>
</div>
